<!-- <span>// {{authService.loggedIn}} //</span>-->

<div style="text-align:center">
  <h1>BrainShop</h1>
  <h2>Because zombies are (almost) people too</h2>
</div>

<button mat-raised-button (click)="addBrain()" *ngIf="authService.isAuthenticated()">+ Add new brain</button>
<!-- 
<mat-grid-list [cols]="desktopQuery.matches ? 3 : 2" rowHeight="2:1" gutterSize="1rem">
   -->
<mat-grid-list [cols]="(isHandset | async) ? 2 : 3" rowHeight="2:1" gutterSize="1rem">
  <mat-grid-tile *ngFor="let brain of brains | async; let i = index">
    <app-product [id]="i" [originalUser]="brain.originalUser" [description]="brain.description" [imgUrl]="brain.imgUrl"></app-product>
  </mat-grid-tile>
</mat-grid-list>